* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'inter', sans-serif;
    background-color: #f6f5f5da;
}


.container {
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #FFF;
    padding: 56px 20px 91px 20px;
}

.menu-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    margin-bottom: 23px;
}

.menu-text {
    margin-left: 2px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 17px;
    font-style: Semi Bold;
    line-height: 100%;
    letter-spacing: 0%;

}

.food-search-input {
    background-color: #EFEFEF;
    width: 316px;
    height: 44px;
    margin-left: 4px;
    border-radius: 12px;
    padding-left: 19px;
    margin-bottom: 29px;
}

.food-search-input input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

}

.menu-items {
    display: inline-block;
    background-color: transparent;
    width: 74px;
    height: 101px;
    margin-left: 4px;
    margin-right: 20px;
    margin-bottom: 32px;
}

.menu-position {
    background-color: #EFEFEF;
    width: 74px;
    height: 74px;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 12px;
}

.position-image {
    width: 100%;
    height: 100%;
}

.position-title {
    text-align: center;
    color: #C4C4C4;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.menu-items:hover .menu-position {
    background-color: #EAE2B7;
}

.menu-items:hover .position-title {
    color: black;
}

.burger-title {
    margin-left: 4px;
    margin-bottom: 26px;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.burger-items {
    width: 100%;
}

.burger-position {
    width: 316px;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    vertical-align: middle;
    margin-left: 4px;
    padding-top: 10px;
    margin-bottom: 12px;
}

.burger-position:last-child {
    margin-bottom: 0;
}

.burger-position img {

    vertical-align: middle;
    width: 60px;
    height: 68.51351165771484px;
    margin-left: 16px;
}

.burger-name {
    vertical-align: middle;
    margin-bottom: 8px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.burger-price {
    vertical-align: middle;
    color: #D62828;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.burger-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}